<script type="text/template" id="network-select">
  <select id="network-select" class="control"></select>
</script>

<script type="text/template" id="network-export-kml">
  <h4 class="modal-title">KML data</h4>
  <a class="close" data-dismiss="modal">x</a>
  <textarea id="kml"><%= kml_data %></textarea>
</script>

<script type="text/template" id="node-row-template">
  <a href="#nodes/<%= _id %>"><%= name %></a>
</script>

<script type="text/template" id="node-detail-template">
  <h4 class="modal-title"><%= node.name %></h4>
  <a class="close" data-dismiss="modal">x</a>
  <div class="modal-content">
    coords: <%= node.coords.lon %>, <%= node.coords.lat %>
    <h4>devices:</h4>
    <% _.each(devices, function(device){ %>
      <div class="device-data">
        <% if (typeof(device.hostname) != 'undefined') { %>
        <p><%= device.hostname %></p>
        <% } %>
        <% if (typeof(device.hardware) != 'undefined') { %>
        <p>hardware: <%= device.hardware %></p>
        <% } %>
        <% if (typeof(device.firmware) != 'undefined') { %>
        <p>firmware: <%= device.firmware %></p>
        <% } %>
      </div>
    <% }); %>
    <h4>wifi links:</h4>
    <% _.each(links, function(link){ %>
      <div class="link-data">
        <p><%= link.station_node %></p>
        <p>
          channel: <%= link.attributes.channel %>
          signal: <%= link.attributes.signal %>
        </p>
      </div>
    <% }); %>
  </div>
  <input type="button" id="new-placement" class="control bottom-right" value="move node >" />
  <input type="button" id="delete-node" class="control bottom-right" value="delete node" />
</script>
<script type="text/template" id="network-toolbox-template">
  <h3 class="toolbox-title"><%= network_name %></h3>
  <span class="control">
    <a id="add-node-link" href="#add-node?network_id=<%= network_id %>">add node</a>
  </span>
  <span class="control">
    <a id="export-kml-link" href="#export-kml?network_id=<%= network_id %>">export KML</a>
  </span>
</script>
<script type="text/template" id="node-add-template">
  <h4 class="modal-title">Add node</h4>
  <a class="close" data-dismiss="modal">x</a>
  <form id="new-node-form" class="modal-content">
    <label>node name:</label><input id="node_name" name="node_name" value=""></input>
    <input type="button" id="pick-coords" class="control bottom-right" value="pick coords >" />
  </form>
</script>

<script type="text/template" id="wifilink-summary-template">
  <h2><% =name %></h2>
  <p>channel: <%= attributes.channel %>, signal: <%= attributes.signal %></p>
</script>

<script>
  console.log('templates loaded');
</script>
