{
  "api_url": "http://libremap.net/api",
  "title": "Freifunk Berlin",
  "init_bbox": [[-60,-180],[75,180]],
  "baseLayers": {
    "active_id": "osm_cloudmade",
    "layers": [
      {
        "id": "osm_cloudmade",
        "name": "OSM Cloudmade",
        "type": "tile",
        "url": "http://{s}.tile.cloudmade.com/{key}/{styleId}/256/{z}/{x}/{y}.png",
        "options": {
          "key": "e4e152a60cc5414eb81532de3d676261",
          "styleId": 997,
          "attribution": "Map data &copy; <a href=\"http://openstreetmap.org\">OpenStreetMap</a> contributors, <a href=\"http://creativecommons.org/licenses/by-sa/2.0/\">CC-BY-SA</a>, Imagery &copy; <a href=\"http://cloudmade.com\">CloudMade</a>"
        }
      },
      {
        "id": "osm_standard",
        "name": "OSM Standard",
        "type": "tile",
        "url": "http://{s}.tile.osm.org/{z}/{x}/{y}.png",
        "options": {
          "attribution": "Map data &copy; <a href=\"http://openstreetmap.org\">OpenStreetMap</a> contributors, <a href=\"http://creativecommons.org/licenses/by-sa/2.0/\">CC-BY-SA</a>"
        }
      }
    ]
  }
}
