{
  "api_url": "http://libremap.net/api",
  "title": "LibreMap – global",
  "center": {
    "lat": 19.971760624680257,
    "lng": 0,
    "zoom": 2
  },
  "plugins": {
    "tileLayer": "./plugins/tileLayer",
    "tileLayerBing": "./plugins/tileLayerBing",
    "lmLayer": "./plugins/lmLayer/index",
    "lmFilterRouterAP": "./plugins/lmLayer/filters/routerAP",
    "lmFilterRouterCommunity": "./plugins/lmLayer/filters/routerCommunity",
    "lmFilterRouterLastUpdate": "./plugins/lmLayer/filters/routerLastUpdate",
    "lmFilterLinkDistanceMax": "./plugins/lmLayer/filters/linkDistanceMax",
    "lmFilterLinkQualityMin": "./plugins/lmLayer/filters/linkQualityMin"
  },
  "TODO": {
    "lmFilterLinkType": "./plugins/libremapLayer/filters_links/type"
  },
  "layers": {
    "baselayers": {
      "mapbox": {
        "name": "Mapbox streets",
        "url": "https://{s}.tiles.mapbox.com/v4/{style}/{z}/{x}/{y}.png?access_token={key}",
        "type": "xyz",
        "layerOptions": {
          "attribution": "<a href=\"https://www.mapbox.com/about/maps/\" target=\"_blank\">&copy; Mapbox &copy; OpenStreetMap</a> <a class=\"mapbox-improve-map\" href=\"https://www.mapbox.com/map-feedback/\" target=\"_blank\">Improve this map</a>"
        },
        "layerParams": {
          "style": "mapbox.streets",
          "key": "pk.eyJ1IjoiYW5kcmVuYXJjaHkiLCJhIjoiVVFObVl3RSJ9.ZDnJUQCH6IJzCt_EY6azKA"
        }
      },
      "mapboxSat": {
        "name": "Mapbox satellite",
        "url": "https://{s}.tiles.mapbox.com/v4/{style}/{z}/{x}/{y}.png?access_token={key}",
        "type": "xyz",
        "layerOptions": {
          "attribution": "<a href=\"https://www.mapbox.com/about/maps/\" target=\"_blank\">&copy; Mapbox &copy; OpenStreetMap</a> <a class=\"mapbox-improve-map\" href=\"https://www.mapbox.com/map-feedback/\" target=\"_blank\">Improve this map</a>"
        },
        "layerParams": {
          "style": "mapbox.satellite",
          "key": "pk.eyJ1IjoiYW5kcmVuYXJjaHkiLCJhIjoiVVFObVl3RSJ9.ZDnJUQCH6IJzCt_EY6azKA"
        }
      },
      "osm": {
        "name": "OSM Standard",
        "url": "http://{s}.tile.osm.org/{z}/{x}/{y}.png",
        "type": "xyz",
        "layerOptions": {
          "attribution": "Map data &copy; <a href=\"http://openstreetmap.org\">OpenStreetMap</a> contributors, <a href=\"http://creativecommons.org/licenses/by-sa/2.0/\">CC-BY-SA</a>"
        }
      }
    }
  },
  "dataLayers": [
    {
      "plugin": "lmLayer",
      "id": "libremap.net",
      "name": "Routers and Links",
      "api_url": "http://libremap.net/api",
      "fine_max": 200,
      "show_routers": true,
      "routers": {
        "cluster": true,
        "filter_mode": "or",
        "filters": [
          {
            "plugin": "lmFilterRouterLastUpdate",
            "enabled": true,
            "name": "Time since update (days)",
            "val": 7
          },
          {
            "plugin": "lmFilterRouterAP",
            "enabled": false,
            "name": "Access points"
          },
          {
            "plugin": "lmFilterRouterCommunity",
            "enabled": false,
            "name": "Community",
            "val": "Freifunk Berlin"
          }
        ]
      },
      "show_links": true,
      "links": {
        "filter_mode": "and",
        "filters": [
          {
            "plugin": "lmFilterLinkDistanceMax",
            "enabled": true,
            "name": "Maximum distance (m)",
            "val": 50000
          },
          {
            "plugin": "lmFilterLinkQualityMin",
            "enabled": true,
            "name": "Minimum quality (0-1)",
            "val": 0.5
          }
        ],
        "TODO": [
          {
            "plugin": "lmLinkFilterType",
            "enabled": false,
            "name": "Type",
            "val": "batman"
          },
          {
            "plugin": "distance_min",
            "enabled": false,
            "name": "Minimum distance (m)",
            "val": 0
          },
          {
            "plugin": "quality_max",
            "enabled": true,
            "name": "Maximum quality",
            "val": 1
          }
        ]
      }
    }
  ]
}
