<div class="container lm-container-text">
  <div class="row">
    <div class="col-md-12 clearfix">
      <img class="img-responsive pull-right lm-about-img" src="img/replication.svg">
      <h1 class="modal-title">About LibreMap</h1>
      <p>
        LibreMap is a scalable, global and decentralized router database and
        map visualization for community networks, such as guifi, Altermundi,
        FunkFeuer, ninux, freifunk, Commotion&hellip;
      </p>
      <h2>Run your own LibreMap server and let it sync!</h2>
      <p>
        Because LibreMap relies on <a
          href="http://couchdb.apache.org">CouchDB</a>, you can install a
        CouchDB server for your community and let it replicate to/from
        existing servers. The replication could look like in the image on the
        right hand side.  The documentation on how to set up your own LibreMap
        server can be found in the <a
          href="https://github.com/libremap/libremap-api">libremap-api</a>
        repository.
      </p>
    </div>
  </div>
</div>
