<ul class="nav nav-tabs">
  <li class="active"><a href="#sidebar-layers" data-toggle="tab">Layers</a></li>
  <li><a href="#sidebar-location" data-toggle="tab">Location</a></li>
  <li><a href="#sidebar-edit" data-toggle="tab">Edit</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="sidebar-layers">
    <h3>Base map</h3>
    <div class="baseLayers"></div>
    
    <h3>Data</h3>
    <div class="dataLayers"></div>
  </div>

  <div class="tab-pane" id="sidebar-location">Location stuff</div>

  <div class="tab-pane" id="sidebar-edit">Edit stuff</div>
</div>

