<h4 class="dataLayer">
  <%=name%>
  <small><a href="#" class="configure"><i class="fa fa-wrench"></i></a></small>
</h4>
<div class="configuration">
  <form role="form">
    <div class="form-group">
      <label for="api_url">API URL</label>
      <input type="url" class="form-control" id="api_url" placeholder="Enter API URL" value="<%=api_url%>">
    </div>
    <div class="form-group">
      <label for="fine_max">Maximum number of routers in fine view</label>
      <input type="number" class="form-control" id="fine_max" placeholder="Number of routers" value="<%=fine_max%>">
    </div>
    <button type="submit" class="btn btn-primary lm-save">Save</button>
  </form>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" id="show_routers" value=""
    <% if (show_routers) {%> checked <% } %>>
    Routers
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" id="show_links" value=""
    <% if (show_links) {%> checked <% } %>>
    Links
  </label>
</div>
