<script type="text/template" id="community-select">
  <select id="community-select" class="control"></select>
</script>

<script type="text/template" id="community-export-kml">
  <h4 class="modal-title">KML data</h4>
  <a class="close" data-dismiss="modal">x</a>
  <textarea id="kml"><%= kml_data %></textarea>
</script>

<script type="text/template" id="router-row-template">
  <a href="#routers/<%= _id %>"><%= hostname %></a>
</script>

<script type="text/template" id="router-detail-template">
  <h4 class="modal-title"><%= router.hostname %></h4>
  <a class="close" data-dismiss="modal">x</a>
  <div id="router-detail" class="modal-content">
    coords: <%= router.coords.lon %>, <%= router.coords.lat %>
    <h4>wifi links:</h4>
    <% _.each(links, function(link){ %>
      <div class="link-data">
        <p><%= link.station_name %></p>
        <p>
          channel: <%= link.attributes.channel %>
          signal: <%= link.attributes.signal %>
        </p>
      </div>
    <% }); %>
  </div>
  <input type="button" id="new-placement" class="control bottom-right" value="move router >" />
  <input type="button" id="delete-router" class="control bottom-right" value="delete router" />
</script>
<script type="text/template" id="community-toolbox-template">
  <h3 class="toolbox-title"><%= community_name %></h3>
  <span class="control">
    <a id="add-router-link" href="#add-router?community_id=<%= community_id %>">add router</a>
  </span>
  <span class="control">
    <a id="export-kml-link" href="#export-kml?community_id=<%= community_id %>">export KML</a>
  </span>
</script>
<script type="text/template" id="router-add-template">
  <h4 class="modal-title">Add router</h4>
  <a class="close" data-dismiss="modal">x</a>
  <form id="new-router-form" class="modal-content">
    <label>router name:</label><input id="router_hostname" name="router_hostname" value=""></input>
    <input type="button" id="pick-coords" class="control bottom-right" value="pick coords >" />
  </form>
</script>

<script type="text/template" id="wifilink-summary-template">
  <h2><% =name %></h2>
  <p>channel: <%= attributes.channel %>, signal: <%= attributes.signal %></p>
</script>

<script>
  console.log('templates loaded');
</script>
