@import '../../bower_components/bootstrap/less/bootstrap.less';
@import '../../bower_components/font-awesome/less/font-awesome.less';
@import '../../build-css/vendor.less';

.navbar-inverse .navbar-brand {
  font-weight: bold;
  color: white;
}

html, body, .lm-root-content, .lm-content, .lm-content > div {
  height: 100%;
  margin: 0;
}

.lm-sidebar {
  box-shadow: inset 10px 0px 20px -10px rgba(0, 0, 0, 0.8);
}

@media (max-width: @screen-xs-max) {
  .lm-content > div {
    height: 80%;
    box-shadow: inset 0px 10px 20px -10px rgba(0, 0, 0, 0.8);
  }
}

body {
  padding-top: 50px;
}

.lm-root-content {
  background-color: gray;
}

.lm-sidebar {
  background-color: white;
  padding-top: 10px;
}

.lm-sidebar > .tab-content {
  padding-top: 10px;
}
